// @use "_variables.scss" as *;
/* media query */
@mixin mq_pc {
  @media screen and (min-width: ($spWidth + 1)) {
    @content;
  }
}

@mixin mq_tab {
  @media screen and (min-width: ($spWidth + 1)) and (max-width: ($pcWidth - 1)) {
    @content;
  }
}

@mixin mq_sp {
  @media screen and (max-width: ($spWidth)) {
    @content;
  }
}

@mixin mq_mw($w) {
  @media screen and (max-width: ($w)) {
    @content;
  }
}

@mixin mq_max {
  @media screen and (min-width: ($pcWidth + 1)) {
    @content;
  }
}

@function get_vw($size, $viewport:375) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}

@function get_percent($size, $width:375) {
  @return math.div($size, $width) * 100%;
}

@mixin fontVw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

@mixin fontRem($font_size, $base:16){
  font-size: $font_size + px;
  font-size: math.div($font_size, ($base * 0.625)) + rem;
}
